<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Product Sale Prices"} %>

<%= csrf_meta_tag %>

<div id="add-line-item">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <%= Spree.t('title', scope: :spree_sale_price) %>
      </div>
    </div>

    <div class="panel-body">
      <%= form_for [:admin, @product, Spree::SalePrice.new], remote: true do |f| %>
        <div class="row">
          <div class="col-md-4">
            <%= label_tag Spree.t('original_price', scope: :spree_sale_price) %>
            <%= text_field_tag '', number_to_currency(@product.original_price, unit: ''), disabled: true, class: 'form-control' %>
          </div>
          <div class="col-md-4">
            <%= f.label :kind, Spree.t('spree_sale_price.kind') %>
            <%= f.select :kind, options_for_select([
                [Spree.t('sale_types.percentage', scope: :spree_sale_price), 'percentage'],
                [Spree.t('sale_types.fixeddiscount', scope: :spree_sale_price), 'fixeddiscount'],
                [Spree.t('sale_types.fixedprice', scope: :spree_sale_price), 'fixedprice']]
             ), {}, {:class => 'select2'} %>
          </div>
          <div class="col-md-4">
            <%= f.label :value, Spree.t('amount', scope: :spree_sale_price) %>
            <%= f.text_field :value,  class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.label :start_at, Spree.t('start_at', scope: :spree_sale_price) %>
            <%= f.text_field :start_at, class: "datepicker form-control" %>
          </div>
          <div class="col-md-4">
            <%= f.label :end_at, Spree.t('end_at', scope: :spree_sale_price) %>
            <%= f.text_field :end_at, class: "datepicker form-control" %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit Spree.t('add_product_sale_price', scope: :spree_sale_price),  class: 'btn btn-primary btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="product-sale-prices-table">
  <%= render partial: "table", locals: { product: @product } %>
</div>
